<div style='margin-bottom: 500px' class='search-form mt-4'>
  <form method='POST'>
    <div class='mb-3'>
      <label for='search-input' class='form-label'>Search</label>
      <input
        type='text'
        class='form-control'
        id='search-input'
        name='q'
        aria-describedby='emailHelp'
        placeholder='Enter your keywords...'
      />
    </div>
    <button type='submit' class='btn btn-primary'>Submit</button>
  </form>
</div>